
@media (max-width: 768px) {
   /* стилі для мобільних */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}   

.over {
    color: #ae0f0f;
    text-align: center;
   
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #282626;
    line-height: 2.2;
    min-height: 100vh;

}
.ab {
    line-height: 1.7;
    color: #ae4c4c;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
}
.b {
    color: #3d0e0e;
    line-height: 1.7;
    padding: 15px;  
    text-decoration: none;
}
footer {
    text-align: center;
    padding: 0px;
    background-color: #241f1f4d;
    padding-bottom: 25px;
}
.t {
    color: #f21919;
    line-height: 1.7;   
    padding: 15px;  
    text-decoration: none;
}
.header {
    text-align: center;
    padding: 200px;
    background-color: #1e011b9e;
}
.main {
    flex:1;
}
.p {
    color: #edb303;
  
}
form{
    max-width: 500px;       /* ширина форми */
    margin: 80px auto;      /* центр по горизонталі */
    padding: 75px;          /* внутрішні відступи */
    border: 3px solid #700c65; /* рамка форми */
    border-radius: 35px;    /* закруглені кути */
    background-color: #480c0c; /* фон форми */
}
label{
    display:block;
    font-weight: bold; 
    margin-top: 2px;    
    margin-left:50px; /* кожен label з нової строки */
}
input[type="text"]
{
    background:#edb303;
    border:3px solid #700c65;
    border-radius: 35px;
    padding:4px;
    width:100%;
    margin-top:2px;
    color:#f00ae4;
}
input[type="email"]
{
    background:#edb303;
    border:3px solid #700c65;
    border-radius: 35px;
    padding:4px;
    width:100%;
    margin-top:2px;
    color:#f00ae4;
}
input[type="password"]
{
    background:#edb303;
    border:3px solid #700c65;
    border-radius: 35px;
    padding:4px;
    width:100%;
    margin-top:2px;
    box-sizing: border-box;
    color:#f00ae4;
}
input[type="submit"]
{
    background:#0e000c;
    border:3px solid #700c65;
    border-radius: 35px;
    color:#b37575;
    font-weight:bold;
    padding:10px;
    margin-top:20px;
    width:100%;
    cursor:pointer; /* курсор у вигляді руки */
}
input[type="reset"]
{
    background:#0e000c;
    color:#b37575;
    
}
form{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

/* КСС ПІД 3 ЛАБУ*/

#Search
{
 background-color: #151515;
 border :#151515;
 border-radius: 32px;
 width: 555px;
 height: 45px;
 border:1px solid  #151515;
 color:#fff8f8;
 
}
.hed{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding :10px;
}
 .sidebar {
    width: 250px;
    background-color: #121212;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
    .sidebar a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    display: flex;
    align-items: center;
  }

.video-container {
  display: flex;
  flex-wrap: wrap;      /* дозволяє переносити відео на новий ряд */
  gap: 20px;            /* відстань між відео */
  justify-content: center; /* центрує всі блоки */
  margin-top: 30px;
}

.video {
  width: 320px;         /* нормальна ширина кожного відео */
  background: #111;
  border-radius: 10px;
  overflow: hidden;     /* щоб зображення не вилазило */
  display:block;
  
}
/* зображення превʼю */
.video img {
  width: 100%;
  height: auto;
  display: block;
}

.boby{
background-color: #242424;

}
.f{
    
    text-align: center;
    padding: 0px;
    background-color: #2d2c2c4d;
    padding-bottom: 25px;
}
.i{
    color: #fdfdfd;
    line-height: 1.7;   
    padding: 15px;  
    text-decoration: none;
}
.colo{
    color:#480c0c;
}
.lav{
    display: flex;
    flex:wrap;
    justify-content: center;
    
}


.T{
    background-color: #ef0606;
    color:#ffffff;
    font-weight: bold;
    border: #480c0c;
    border-radius: 7px;
    padding: 2px 11px;
    
}
.TEXT{
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    margin-left: 4px;
}
.hed{
    background-color: #2e2d2d;
}
.i{
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
    color: #a19292;
}
.головна{
    color: #e4e3e3;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}
.підписки{
    color: #e4e3e3;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}
.тренди{
    color: #e4e3e3;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}
.бібліотека{
    color: #e4e3e3;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}   
.історія{
    color: #e4e3e3;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
} 
.Video{
    color: #480a0a;
    display: block;
}
.v{
   background: #111;
   padding: 5px;
}

