body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.title {
  text-align: center;
}

.planner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  max-width: 900px;
  margin: auto;
}


.sidebar {
  background: rgb(247, 247, 247);
  padding: 10px;
  border: 1px solid gray;
}

.sidebar label {
  display: block;
  margin-bottom: 5px;
}


.day {
  background: white;
  border: 1px solid gray;
  padding: 5px;
}

.day textarea {
  width: 100%;
  height: 70px;
}

input[type="checkbox"] {
  accent-color: rgb(254, 225, 1);
}


@media (max-width: 600px) {
  .planner {
    grid-template-columns: 1fr;
  }
}


.to_lab_works {
  text-decoration: none;
  color: rgb(184, 26, 26);
  font-size: 14px;
}
