.Keyboard_Prak4{
    background-color: rgb(188, 188, 188);
    padding: 10px;
}
.Key{
    background-color: violet;
    border: 4px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 0px 0px rgb(60, 15, 55);
    text-align: center;
    /*display: inline-block;*/
    
    
}



.Key_Enter{
    background-color: violet;
    border: 4px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 0px 0px rgb(60, 15, 55);
    text-align: center;
    display: inline-block;
    
}
.Key_Backspace{
    background-color: violet;
    border: 4px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 0px 0px rgb(60, 15, 55);
    width: 80px;
    text-align: center;
    /*display: inline-block;*/
    
}
.Key_Tab{
    background-color: violet;
    border: 4px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 0px 0px rgb(60, 15, 55);
    width: 60px;
    text-align: center;
    /*display: inline-block;*/
    
}
.Key_Space{
    background-color: violet;
    border: 4px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 0px 0px rgb(60, 15, 55);
    width: 300px;
    text-align: center;
    /*display: inline-block;*/
    
}

.Key_Shift{
    background-color: violet;
    border: 4px solid black;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0px 4px 0px 0px rgb(60, 15, 55);
    width: 70px;
    text-align: center;
    /*display: inline-block;*/
    
}
.Key_CapsLock{
    background-color: violet;
    border: 4px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 0px 0px rgb(60, 15, 55);
    width: 80px;
    text-align: center;
    /*display: inline-block;*/
    
}



.One_row{
    display: flex;
    gap:5px;
    margin-bottom: 8px;
    
}
.Two_row{
    display: flex;
    gap:5px;
    margin-bottom: 8px;
    
}

.Three_row{
    display: flex;
    gap:5px;
    margin-bottom: 8px;
    
}
.Four_row{
    display: flex;
    gap:5px;
    margin-bottom: 8px;
}
.Five_row{
    display: flex;
    gap:5px;
    margin-bottom: 8px;
}
.Six_row{
    display: flex;
    gap:5px;
    margin-bottom: 8px;
    
}
.NumPad {

  display: grid;      
  grid-template-columns: repeat(4, 50px); /* 4 стовпці */
  gap: 10px;
 
}

.Key_Enter_Num{
    background-color: violet;
    border:5px solid black;
    border-radius: 5px ;
    padding: 5px;
    box-shadow: 0px 4px 0px 0px rgb(60, 15, 55);
    text-align: center;
    height: 60px;
}

 .f{
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-top: 4px solid black;
    margin-top: 20px;

 }
.Keyboard_Wrap {
    display: flex;
    justify-content: center;  /* вирівняти все по центру */
    align-items: flex-start;   /* по верхній лінії */
    gap: 13px;                 /* відстань між клавою і NumPad */
    background-color: rgb(188,188,188);
    border: 4px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    box-sizing:border-box ;
    margin-left:300px;
}
